.login-rich-content {
    background-image: url(https://vaadin.com/docs/v14/static/earth-a5bf9c5d25afa2cdadcb83108380f6e8.jpg);
    background-position: center center;
    background-size: cover;
    display: flex;
    height: 100%;
}

vaadin-scroller[slot="drawer"] {
  padding: var(--lumo-space-s);
}

[slot="drawer"]:is(header, footer) {
  display: flex;
  align-items: center;
  gap: var(--lumo-space-s);
  padding: var(--lumo-space-s) var(--lumo-space-m);
  min-height: var(--lumo-size-xl);
  box-sizing: border-box;
}

[slot="drawer"]:is(header, footer):is(:empty) {
  display: none;
}
