.forgot-password-view {
  display: block;
  margin: 0 auto;
  max-width: 300px;
  padding: 0 var(--lumo-space-l);
}
.forgot-password-view .button-layout {
  margin-bottom: var(--lumo-space-l);
  margin-top: var(--lumo-space-m);
  float: right;
}
.forgot-password-view h3 {
  margin-bottom: var(--lumo-space-s);
  margin-top: var(--lumo-space-l);
}
